{{include 'header_c.html'}}

<div class="box">
  【お題】{{$title}}
</div>

<div id="info" class="box">
  {{$name}}さんは既に参加中です。
</div>

<div id="members" class="box_n">
  <!-- members here -->
</div>

<div class="box">
  <button id="reflesh_btn" class="pure-button">🔁更新</button>
  &nbsp;&nbsp;&nbsp;
  <span id="timeLast">---</span>
</div>
<br>
<div class="box">
  <input id="invite_url" type="text"
         style="width:98%;background-color:#f0f0f0;color:black" 
         readonly
         value="{{$invite_url}}"><br>
  <button class="pure-button"
    onclick="js_copy_url()">招待URLをコピー</button>
</div>

<script>
  const js_getMembers = "{{$js_getMembers | raw}}";
  const js_addscore = "{{$js_addscore | raw}}";
  const self_id = {{$member_id}};
  const self_name = "{{$name}}";
</script>
<script src="{{$game_js}}"></script>

{{include 'footer_c.html'}}


