<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{$APP_TITLE}}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53904129-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-53904129-2');
  </script>

  <!-- meta tag -->
  <meta name="Description" CONTENT="グループで使えるWebサイト">
  <meta name="Keywords" CONTENT="グループ">
  <meta name="robots" content="index follow">

  <!-- static -->
  <link rel="stylesheet" href="static/pure-min.css">
  <link rel="stylesheet" href="static/mkcss.php?f=haiku">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="static/menu.js?v=1"></script>
</head>
<body>
  <div id="frame">
  <div id="title_div">
    <div class="title_btn">
      <a href="#" onclick="toggle_menu()">
        <img src="static/image/title-btn.png" width="50" height="50">
      </a>
    </div>
    <div class="title_logo">
      <a href="index.php">
        <img src="static/image/title-logo.png?v=2" width="50" height="50">
      </a>
      {{if $_SERVER['HTTP_HOST'] == 'localhost'}}
      <span class="local">
        ローカル版:{{$_SERVER.REQUEST_URI}}</span>
      {{endif}}
    </div>
  </div>
  <div class="clear"></div>
  <!-- menu -->
  <div class="menu">
    <ul>
    <li><a class="pure-button" href="{{e echo_url('index')}}">トップ</a></li>
    </ul>
  </div>

